.container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
}
.myphoto {
    width: 120px;
    border-radius: 100px;
}
.photo {
    text-align: center;
}
.name {
    text-align: center;
}
h1 {
    font-family: sans-serif;
    color: #660c36;
    font-size: 28px;
}
.info {
    color: #660c36;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
}
.button {
    position: relative;
    display: block;
    border: 1px solid #3d3d3d;
    padding: 20px;
    text-align: center;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 4px;
    color: #3d3d3d;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
}
.icon {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 60px;
}
.icon01 {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 50px;
}
.top {
    display: block;
    /* 變區塊 */
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(206, 164, 23);
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
}
h4 {
    color: rgb(77, 8, 41);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}
h5 {
    color: rgb(77, 8, 41);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}
.work-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.work-item {
    width: 25%;
    background-color: rgb(238, 231, 232);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2) ;
    text-align: center;
}
.work-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.work-item p {
    color: rgb(77, 8, 41);
    margin-bottom: 0;
    position: relative;
    top: -10px;
    font-size: 13px;
    font-family:sans-serif;
}